[submodule ".registry"]
	path = .registry
	url = https://github.com/facszero/facszero.r-universe.dev
	branch = HEAD
[submodule "rvisual"]
	path = rvisual
	url = https://github.com/facszero/rvisual
	branch = main
